.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.all-posts {
    width: 100vw;
    max-width: fit-content;
    height: fit-content;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}