.content-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.content-title-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-logo-login {
    width: 70px;
    height: 70px;
}

.types-user-list {
    display: flex;
    flex-direction: row;
    gap: 20px
}