.use-term {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#check-use-terms {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(var(--theme-color));
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
}
#check-use-terms:checked {
    background-color: rgba(var(--theme-color));
}